<h1><%= @farm.name %></h1>
<p><%= @farm.location %></p>

<h2>Vegetables</h2>
<% if @farm.vegetables.count > 0 %>
  <ul>
  <% @farm.vegetables.each do |vegetable| %>
    <li><a href="#"><%= vegetable.name %></a></li>
  <% end %>
  </ul>
<% else %>
  <p>There aren't any veggies for this farm yet!</p>
  
  <% if @farm.user == current_user %>
    <a href="/vegetables/new">Add a vegetable</a>
  <% end %>
<% end %>
  
<% if @farm.user == current_user %>
  <div>
    <a href="/farms/<%= @farm.id %>/<%= @farm.slug %>/edit" class="btn btn-outline-info btn-sm">Edit farm</a>
  </div>
<% end %>