<div id="login-form" class="jumbotron">
  <h1><%= t('login') %></h1>
  <form action="/<%= I18n.locale %>/login" method="POST">
    <div class="form-group">
      <label for="username"><%= t('username') %></label>
      <input type="text" id="username" name="username" class="form-control">
    </div>

    <div class="form-group">
      <label for="password"><%= t('password') %></label>
      <input type="password" id="password" name="password" class="form-control">
    </div>

    <button type="submit" id="submit" class="btn btn-primary"><%= t('login') %></button>
    <p><small><%= t('login_form.need_account') %> <a href="/<%= I18n.locale %>/signup"><%= t('login_form.create_now') %></a>.<small></p>
  </form>
</div>