<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/<%= I18n.locale %>/"><%= t('site_title') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if logged_in? %>
          <a class="nav-item nav-link" href="/<%= I18n.locale %>/users/<%= current_user.slug %>"><%= t('dashboard') %></a>
          <a class="nav-item nav-link" href="/<%= I18n.locale %>/logout"><%= t('logout') %></a>
        <% else %>
          <a class="nav-item nav-link" href="/<%= I18n.locale %>/signup"><%= t('signup.submit') %></a>
          <a class="nav-item nav-link" href="/<%= I18n.locale %>/login"><%= t('login') %></a>
        <% end %>

        <% if I18n.locale == :en %>
          <a class="nav-item nav-link" href="/ja/"><%= t('japanese') %></a>
        <% else %>
          <a class="nav-item nav-link" href="/en/"><%= t('english') %></a>
        <% end %>
      </div>
    </div>
  </div>
</nav>