<div id="dashboard">
  <section id="farms" class="card">
    <div class="card-header">
      <h2><%= t('users.show.subtitle_farms') %></h2>
      <a href="/farms/new" class="add-button">+</a>
    </div>
    
    <div class="card-body">
      <% if @user.farms.any? %>
        <% @user.farms.each do |farm| %>
          <div class="card nested-card">
            <div class="card-body">
              <h3>
                <a href="/farms/<%= farm.id %>/<%= farm.slug %>"><%= farm.name %></a>
              </h3>
              <ul>
              <% farm.vegetables.each do |vegetable| %>
                <li><%= vegetable.name %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Y<%= t('users.show.no_farms') %> <a href="/farms/new"><%= t('users.show.create_now') %></a>.</p>
      <% end %>
    </div>
  </section>
  
  <section id="vegetables" class="card">
    <div class="card-header">
      <h2><%= t('users.show.subtitle_veggies') %></h2>
      <a href="/vegetables/new" class="add-button">+</a>
    </div>
    
    <div class="card-body">
    <% if @user.vegetables.any? %>
      <% @user.vegetables.uniq.each do |vegetable| %>
        <div class="card nested-card">
          <div class="card-body">
            <h3>
              <a href="/vegetables/<%= vegetable.id %>">
                <%= vegetable.name %>
              </a>
            </h3>
            <p class="months">
              <%= vegetable.planting_season_month_names.join(", ") %>
            </p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p><%= t('users.show.no_veggies') %> <a href="/vegetables/new"><%= t('users.show.create_now') %></a>.</p>
    <% end %>
  </section>
</div>
