<div class="form card">
  <div class="card-header">
    <h1><%= t('vegetables.form.edit.title') %></h1>
  </div>

  <div class="card-body">
    <form method="POST" action="/<%= I18n.locale %>/vegetables/<%= @vegetable.id %>">
      <input type="hidden" id="hidden" name="_method" value="patch">

      <h2><%= t('vegetables.form.details') %></h2>
      <div class="form-group">
        <label for="name"><%= t('vegetables.form.name') %></label>
        <input class="form-control" type="text" id="name" name="vegetable[name]" value="<%= @vegetable.name %>">
    </div>

    <div class="form-group">
        <p><%= t('vegetables.form.planting_months') %></p>

        <% t('date.month_names').each.with_index do |month, index| %>
          <% if index >= 1 %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="vegetable[planting_season][]" value="<%= index %>" id="<%= month %>" <%= 'checked' if @vegetable.planting_season.include?(index) %>>
              <label class="form-check-label" for="<%= month %>"><%= month %></label>
            </div>
          <% end %>
        <% end %>
      </div>

      <h2><%= t('vegetables.form.farms') %></h2>
      <div class="form-group">
        <% @user.farms.each do |farm| %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="vegetable[farm_ids][]" value="<%= farm.id %>" id="farm_<%= farm.id %>" <%= 'checked' if farm.vegetables.include?(@vegetable) %>>
            <label class="form-check-label" for="farm_<%= farm.id %>"><%= farm.name %></label>
          </div>
        <% end %>
      </div>

      <button type="submit" id="submit" class="btn btn-primary"><%= t('vegetables.form.edit.submit') %></button>
    </form>
  </div>

  <div class="card-footer">
    <form method="POST" action="/<%= I18n.locale %>/vegetables/<%= @vegetable.id %>">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <div class="form-group">
        <input type="submit" id="delete" class="btn btn-outline-danger btn-sm" value="<%= t('vegetables.form.delete') %>">
      </div>
    </form>
  </div>
</div>