<section id="vegetables-by-month-index">
  <h1><%= t('vegetables.vegetables_by_months.title') %></h1>
  
  <% @vegetables_for_each_month.each do |month, vegetables| %>
    <div class="card">
      <div class="card-header">
        <h2><a href="/<%= I18n.locale %>/vegetables/months/<%= month %>"><%= month_name(month) %></a></h2>
      </div>
      
      <div class="card-body">
        <% if vegetables.count > 0 %>
          <% vegetables.each do |vegetable| %>
            <div class="card nested-card">
              <div class="card-body">
                <h3><a href="/<%= I18n.locale %>/vegetables/<%= vegetable.id %>"><%= vegetable.name %></a></h3>
                <span class="card-meta">
                  <% vegetable.farms.each do |farm| %>
                    <a href="/<%= I18n.locale %>/farms/<%= farm.id %>/<%= farm.slug %>"><%= farm.name %></a><%= ' | ' unless farm == vegetable.farms.last %>
                  <% end %>
                </span>
              </div>
            </div>
          <% end %>
        <% else %>  
          <p><%= t('vegetables.vegetables_by_months.no_veggies') %></p>
          <a class="add-link" href="/<%= I18n.locale %>/vegetables/new"><%= t('vegetables.vegetables_by_months.add_now') %></a>
        <% end %>
      </div>
    </div>
  <% end %>
  
</section>