<section id="vegetables-by-month" class="card">
  <div class="card-header">
    <h1><%= t('this_month.title', month: month_name(@month)) %></h2>
  </div>
  
  <div class="card-body">
    <% @vegetables_to_plant.each do |vegetable| %>
      <div class="card nested-card">
        <div class="card-body">
          <h2><a href="/<%= I18n.locale %>/vegetables/<%= vegetable.id %>"><%= vegetable.name %></a></h2>
          <span class="card-meta">
            <% vegetable.farms.each do |farm| %>
              <a href="/<%= I18n.locale %>/farms/<%= farm.id %>/<%= farm.slug %>"><%= farm.name %></a><%= ' | ' unless farm == vegetable.farms.last %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="card-footer">
    <a class="btn btn-info btn-sm" href="/<%= I18n.locale %>/vegetables/months/<%= previous_month_number(@month) %>">
      << <%= previous_month_name(@month) %>
    </a>
    <a class="btn btn-info btn-sm" href="/<%= I18n.locale %>/vegetables/months/<%= next_month_number(@month) %>">
      <%= next_month_name(@month) %> >>
    </a>
  </div>
</section>