<section id="vegetables-by-month" class="card">
  <div class="card-header">
    <h1><%= t('this_month.title', month: month_name(@month)) %></h2>
  </div>

  <div class="card-body">
    <% if @vegetables_to_plant.count > 0 %>
      <% @vegetables_to_plant.each do |vegetable| %>
          <div class="card nested-card">
            <div class="card-body">
              <h2><a href="/<%= I18n.locale %>/vegetables/<%= vegetable.id %>"><%= vegetable.name %></a></h2>
              <span class="card-meta">
                <% vegetable.farms.each do |farm| %>
                  <a href="/<%= I18n.locale %>/farms/<%= farm.id %>/<%= farm.slug %>"><%= farm.name %></a><%= ' | ' unless farm == vegetable.farms.last %>
                <% end %>
              </span>
            </div>
          </div>
      <% end %>
    <% else %>
        <p><%= t('vegetables.vegetables_by_months.no_veggies') %></p>
        <a class="add-link" href="/<%= I18n.locale %>/vegetables/new"><%= t('vegetables.vegetables_by_months.add_now') %></a>
    <% end %>
  </div>

  <div class="card-footer">
    <div class="footer-nav">
      <a class="btn btn-info btn-sm" href="/<%= I18n.locale %>/vegetables/months/<%= previous_month_number(@month) %>">
        << <%= previous_month_name(@month) %>
      </a>
      <a class="btn btn-info btn-sm" href="/<%= I18n.locale %>/vegetables/months/<%= next_month_number(@month) %>">
        <%= next_month_name(@month) %> >>
      </a>
    </div>
    <hr>
    <div>
      <a class="btn btn-outline-info" href="/<%= I18n.locale %>/vegetables/months"><%= t('vegetables.vegetables_by_months.see_all') %></a>
    </div>
  </div>
</section>