<div class="card-header">
  <h1><%= t('this_month.title', this_month: Time.now.month) %></h2>
</div>

<div class="card-body">
  <% if @user.farms.any? %>
    <% if @user.vegetables.any? %>
      <% @vegetables_to_plant.each do |vegetable| %>
        <div class="card nested-card">
          <div class="card-body">
            <h2><a href="/<%= I18n.locale %>/vegetables/<%= vegetable.id %>"><%= vegetable.name %></a></h2>
            <span class="card-meta">
              <% vegetable.farms.each do |farm| %>
                <a href="/<%= I18n.locale %>/farms/<%= farm.id %>/<%= farm.slug %>"><%= farm.name %></a><%= ' | ' unless farm == vegetable.farms.last %>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    <% else  %>
      <p><%= t('this_month.no_veggies') %></p>
      
      <a href="/<%= I18n.locale %>/vegetables/new" class="add-link">+ <%= t('this_month.add_veggie') %></a>
    <% end %>
  <% else  %>
    <p><%= t('this_month.no_farms') %></p>
    
    <a href="/<%= I18n.locale %>/farms/new" class="add-link">+ <%= t('this_month.add_farm') %></a>
  <% end %>
</div>